* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

label {
    margin-right: 10px;
}

#durasi-menginap {
    width: 50px;
    margin-right: 5px;
}

input[type="checkbox"] {
    margin-left: 5px;
}
