* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
}


.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.wrapper {
    flex: 1;
    max-width: 500px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-text,
.input-number,
.input-file,
.input-time,
.select-input,
.select-harga,
.select-fasilitas {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-file {
    padding: 3px;
}

.input-checkbox {
    margin-right: 10px;
    width: auto;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit {
    background-color: rgb(174, 242, 4);
    color: white;
}

.btn-reset {
    background-color: rgb(60, 136, 251);
    color: white;
}

button:hover {
    opacity: 0.8;
}
